---
import BaseLayout from "@layouts/BaseLayout.astro";

---
<BaseLayout title="Home" activeLink="home">
<section
		class="flex flex-col sm:flex-row justify-center max-w-[90%] w-[52rem] mx-auto gap-12 mb-48"
	>
		<div class="flex flex-col flex-wrap flex-grow">
			<h1 class="text-center bg-clip-text text-5xl mb-[0.7em]">
				Mousetail <span class="font-extrabold"></span>
			</h1>
            </section>
</BaseLayout>

